@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700;800&display=swap');
*{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}
.btn-primary{
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    background-color: #FF900E;
    border: none;
    padding: 20px 25px;
    cursor: pointer;
}
.common-clr{
    color: #727272;
}
.common-title{
    font-weight: 700;
    font-size: 2.8rem;
}
/*nav style*/

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header{
    padding: 50px 240px;
    background-color: rgba(255, 144, 14, 0.10);
}
nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
}
nav li a{
    color: #424242;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
}
/*Banner style*/

.banner{

}
.banner-contant{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
    color: #131313;
}
.banner img{
    width: 100%;
    margin-top: 20px;
}


/* main style */
main{
    max-width: 1440px;
    margin: 70px auto;
}
/* section 01 */
.section1{
    display: flex;
    align-items: center;
    
}
.team-image{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.team-contant{
    padding-left: 70px;
    padding-right: 70px;
}
.team-head{
    font-size: 2.8rem;
}
.quick-list{
    color: #727272;
    font-weight: 500;
}

.text-features{
    color: #FF900E;
    font-weight: 700;
}
/* Section 2 */

.section2{
    display: flex;
    margin-top: 130px;
}
.features-img img{
    margin-left: 188px;
}
.features-head{
    font-weight: 700;
    font-size: 2.8rem;
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
.features .card{
    border-radius: 8px;
    background-color: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
    margin-bottom: 20px;
}
.experience{
    border-radius: 8px;
    background-color: #FF900E;
    color: #FFF;
    width: 340px;
    padding: 40px;
    text-align: center;
    position: relative;
    bottom: 150px;
    left: 90px;
}
.experience h2{
    font-size: 4rem;
    margin: 0;
}
.experience p{
    font-size: 1.5rem;
}
/* Section 3 */

.facts-card{
    display: flex;
    justify-content: space-around;
}
.facts-card .card{
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;
    margin-top: 100px;
}
.facts-card .card-head{
    color: #424242;
    font-weight: 600;
    font-size: 2rem;
    margin: 5px;
}
.facts-card .card-dec{
    color: #727272;
    font-size: 1rem;
    font-weight: 600;
    margin: 5px;
}
.facts-card .icon{
    margin-top: 10px;
}
/* Section 4 */

.section4{
    text-align: center;
    margin-top: 100px;
}
.sponsor-img{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}
.sponsor-img img{
    width: 165px;
}

/* Footer */
.foot-bg{
    background-color: #FFF4E7;
    height: 100px;
    width: 1440px;
    margin: 50px 240px;
}
.foot-dec{
    text-align: center;
    padding-top: 40px;
}
/*Responsive Mobile*/

@media screen and (max-width:576px){
    header{
        padding: 20px;
    }
    nav,
    .section1,
    .section2,
    .facts-card,
    .sponsor-img
    {
        flex-direction: column;
    }
    .team-image{
        grid-template-columns: 1fr;
    }
    .team-contant,
    .facts-card
    {
        padding-left: 20px;
        padding-right: 20px;
    }
    .facts-card
    {
        gap: 20px;
    }
    .sponsor-img{
        gap: 40px;
    }
    .features-img img{
        margin: 0px;
        width: 100%;
    }
    .experience{
        left: 0px;
    }
    
    }

/*Responsive tablet*/

@media screen and (min-width:576px) and (max-width: 960px){
    header{
        padding: 50px;
    }
    nav,
    .section1,
    .section2,
    .sponsor-img,
    .facts-card
    {
        flex-direction: column;
    }
    .sponsor-img{
        gap: 40px;
    }
    .features-img img {
        margin-left: 100px;
    }
    .experience{
        left: 0px;
    }
}